body{
  font-family: 'Open Sans', sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul li{
    list-style: none;
    display: inline-block;
    width: 30%;
    /*width: calc(100% / 3);*/
    /*height: 120px;*/
    text-align: center;

    border-top: 4px solid red;
    margin: 20px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000;
}